# Patient Data

In [35]:
import pandas as pd

In [216]:
json_path = './health_data/healthcare-datasets/000e7fac-5ea9-404d-8434-1229c16c29b0.json'

In [133]:
json_path = './health_data/healthcare-datasets/000a336a-41c8-4e46-8526-1e502346e28f.json'

In [217]:
rawdata = pd.read_json(json_path)

In [218]:
entries = rawdata['entry']
entries

0     {'fullUrl': 'urn:uuid:65d12976-9588-4cfa-a795-...
1     {'fullUrl': 'urn:uuid:a3e3bd43-ef3c-48fd-9851-...
2     {'fullUrl': 'urn:uuid:dff431d5-79b9-40c0-91b6-...
3     {'fullUrl': 'urn:uuid:166ab0d5-66bc-40fc-922b-...
4     {'resource': {'status': 'active', 'stage': {'c...
5     {'fullUrl': 'urn:uuid:7e969f44-f034-48c1-82c9-...
6     {'fullUrl': 'urn:uuid:be9865e1-76d5-4e23-b94d-...
7     {'fullUrl': 'urn:uuid:77bda9d9-e213-471f-9dec-...
8     {'fullUrl': 'urn:uuid:a5e0fd67-d09f-4861-a58f-...
9     {'fullUrl': 'urn:uuid:322e6431-9a54-4e5f-9904-...
10    {'fullUrl': 'urn:uuid:7d2b3ee3-1190-45fc-a876-...
11    {'fullUrl': 'urn:uuid:3fd3dd3d-4382-4ae0-b1cc-...
12    {'fullUrl': 'urn:uuid:978f5428-239c-4ab8-b593-...
13    {'resource': {'status': 'completed', 'date': '...
14    {'resource': {'status': 'completed', 'date': '...
15    {'fullUrl': 'urn:uuid:8c679a80-a381-4fa8-af8a-...
16    {'fullUrl': 'urn:uuid:3f257d68-ea56-42b5-b926-...
17    {'fullUrl': 'urn:uuid:7b7130df-8af7-406e-b980-...
18    {'fullUrl': 'urn:uuid:3695e3a0-2d14-4372-81b1-...
19    {'fullUrl': 'urn:uuid:4a12bf0b-f986-4f37-b208-...
20    {'fullUrl': 'urn:uuid:72ac7252-8f54-4768-bd5d-...
21    {'fullUrl': 'urn:uuid:0e6b883a-6760-45ec-85e7-...
22    {'resource': {'status': 'completed', 'code': {...
23    {'resource': {'status': 'completed', 'date': '...
24    {'fullUrl': 'urn:uuid:30e580b6-1b8c-4dfe-b283-...
25    {'fullUrl': 'urn:uuid:7b8930a5-fa52-4e2b-9c77-...
26    {'fullUrl': 'urn:uuid:24cd4ecb-7f0e-41b2-8d23-...
27    {'fullUrl': 'urn:uuid:1ad0f288-820d-42e3-b246-...
28    {'fullUrl': 'urn:uuid:3d02dca3-6069-4ba9-a953-...
29    {'resource': {'status': 'completed', 'date': '...
30    {'fullUrl': 'urn:uuid:744566ba-5740-4e51-a218-...
31    {'fullUrl': 'urn:uuid:98179d1a-9c00-47b0-a067-...
32    {'fullUrl': 'urn:uuid:50f2bbe2-2e4c-4549-8535-...
33    {'fullUrl': 'urn:uuid:a2897811-ec8c-4983-911f-...
34    {'fullUrl': 'urn:uuid:37a229f8-c696-451d-b7c2-...
35    {'resource': {'status': 'completed', 'code': {...
36    {'resource': {'status': 'completed', 'date': '...
37    {'resource': {'status': 'completed', 'date': '...
38    {'fullUrl': 'urn:uuid:1f0d1c73-ede0-4436-bbbb-...
39    {'fullUrl': 'urn:uuid:08ff5a30-7b7d-4985-8c14-...
40    {'fullUrl': 'urn:uuid:3f86773a-c81a-45d7-add5-...
41    {'fullUrl': 'urn:uuid:18571155-8061-460d-beba-...
42    {'fullUrl': 'urn:uuid:a5b5b174-0a8e-4782-bc35-...
43    {'resource': {'status': 'completed', 'date': '...
44    {'fullUrl': 'urn:uuid:ddc2fb3c-6ea7-4b66-931b-...
45    {'fullUrl': 'urn:uuid:bda57d2c-732a-4f5b-a0bc-...
46    {'resource': {'status': 'completed', 'code': {...
47    {'resource': {'status': 'completed', 'category...
48    {'resource': {'status': 'stopped', 'stage': {'...
49    {'fullUrl': 'urn:uuid:80fd8fc5-4770-4e35-b31c-...
50    {'fullUrl': 'urn:uuid:41b412e2-fc7f-4f0d-8a31-...
51    {'resource': {'status': 'completed', 'code': {...
52    {'resource': {'status': 'completed', 'category...
53    {'fullUrl': 'urn:uuid:6df781cb-1041-46b2-be33-...
54    {'fullUrl': 'urn:uuid:cf1b995e-8c31-43bd-86ca-...
55    {'fullUrl': 'urn:uuid:13c08b76-527f-4922-aed8-...
56    {'fullUrl': 'urn:uuid:910ab3f7-5af2-4a6a-963c-...
57    {'fullUrl': 'urn:uuid:074b2ec3-e899-4da6-a6c4-...
58    {'fullUrl': 'urn:uuid:9e86653c-fcde-415d-90f3-...
59    {'fullUrl': 'urn:uuid:13bc1b75-f439-45b4-bced-...
60    {'fullUrl': 'urn:uuid:e10b8cca-1c03-4b8f-816a-...
61    {'resource': {'status': 'completed', 'date': '...
62    {'fullUrl': 'urn:uuid:671100d2-6dff-4ddb-a79c-...
63    {'fullUrl': 'urn:uuid:c4d0c9c3-2711-4834-b2ea-...
64    {'fullUrl': 'urn:uuid:7f079a09-e7ca-42a1-a4fc-...
65    {'fullUrl': 'urn:uuid:df832f8f-457e-4706-a476-...
66    {'resource': {'status': 'completed', 'code': {...
67    {'resource': {'status': 'completed', 'code': {...
68    {'fullUrl': 'urn:uuid:b6997c07-c33a-4db9-b3d9-...
69    {'fullUrl': 'urn:uuid:f3d500e9-f395-4223-a8f3-...
70    {'fullUrl': 'urn:uuid:41b416ca-94fb-42f3-9663-...
71    {'fullUrl': 'urn:uuid:225e0dab-69ee-4059-af24-...
72    {'fullUrl': 'urn:uuid:8b3bf982-4ddf-4872-a830-...
73    {'resource': {'status': 'completed', 'code': {...
74    {'resource': {'status': 'completed', 'date': '...
Name: entry, dtype: object

In [219]:
patient_resource = entries[0]['resource']
patient_resource['resourceType']

'Patient'

In [220]:
patient_data = pd.json_normalize(patient_resource)

In [221]:
patient_data

,id,extension,identifier,name,telecom,gender,birthDate,address,multipleBirthBoolean,photo,resourceType,text.status,text.div
0,65d12976-9588-4cfa-a795-216302a2ece9,[{'url': 'http://hl7.org/fhir/StructureDefinit...,[{'system': 'https://github.com/synthetichealt...,"[{'use': 'official', 'family': 'Stracke702', '...",[{'extension': [{'url': 'http://standardhealth...,female,1997-06-23,[{'extension': [{'extension': [{'url': 'latitu...,False,"[{'contentType': 'image/png', 'data': 'iVBORw0...",Patient,generated,"<div>Generated by <a href=""https://github.com/..."

In [222]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1 non-null      object
 1   extension             1 non-null      object
 2   identifier            1 non-null      object
 3   name                  1 non-null      object
 4   telecom               1 non-null      object
 5   gender                1 non-null      object
 6   birthDate             1 non-null      object
 7   address               1 non-null      object
 8   multipleBirthBoolean  1 non-null      bool
 9   photo                 1 non-null      object
 10  resourceType          1 non-null      object
 11  text.status           1 non-null      object
 12  text.div              1 non-null      object
dtypes: bool(1), object(12)
memory usage: 225.0+ bytes

## Patient Id

In [161]:
patient_id = patient_data['id']
patient_id[0]

'f72f7612-7acd-4dbd-b736-948a44bb1a36'

## Patient Name

In [223]:
patient_name_raw = patient_data['name']
patient_name_raw.keys

<bound method Series.keys of 0    [{'use': 'official', 'family': 'Stracke702', '...
Name: name, dtype: object>

In [224]:
patient_family_name_raw  = patient_name_raw[0][0]
patient_family_name_raw

{'use': 'official',
 'family': 'Stracke702',
 'given': ['Conrad130'],
 'prefix': ['Ms.']}

In [51]:
patient_name = f"{patient_family_name_raw['prefix'][0]} {patient_family_name_raw['given'][0]} {patient_family_name_raw['family']}"
patient_name

'Ms. Conrad130 Stracke702'

In [209]:

patient_name_prefix  = patient_name_raw.get('prefix',[''])[0]
patient_name = f"{patient_name_prefix} {patient_family_name_raw['given'][0]} {patient_family_name_raw['family']}"

In [210]:
patient_name_raw = patient_data['name']
patient_family_name_raw = patient_name_raw[0][0]
# del patient_family_name_raw['prefix']

In [212]:
patient_family_name_raw

{'use': 'official', 'family': 'Stracke702', 'given': ['Conrad130']}

In [225]:
patient_name_prefix  = patient_family_name_raw.get('prefix',[''])[0]
patient_name_prefix

'Ms.'

In [197]:
patient_name

' Lavon303 Medhurst137'

## Patient Gender

In [52]:
patient_gender = patient_data['gender']
patient_gender

0    female
Name: gender, dtype: object

## Age

In [53]:
patient_birth_date_raw = patient_data['birthDate']
patient_birth_date_raw

0    1997-06-23
Name: birthDate, dtype: object

In [54]:
type(patient_birth_date_raw)

pandas.core.series.Series

In [55]:
patient_birth_date_raw_value = patient_birth_date_raw.array[0]
patient_birth_date_raw_value

'1997-06-23'

In [56]:
import datetime
if patient_birth_date_raw_value:
    birth_year = datetime.datetime.strptime(patient_birth_date_raw_value, '%Y-%m-%d').year
    patient_age = str(datetime.datetime.now().year - birth_year)
patient_age + ' years'

'27 years'

## Phone Number

In [58]:
patient_phone_number_raw = patient_data['telecom']
display(patient_phone_number_raw)

0    [{'extension': [{'url': 'http://standardhealth...
Name: telecom, dtype: object

In [59]:
patient_phone_number_raw[0]

[{'extension': [{'url': 'http://standardhealthrecord.org/fhir/extensions/okayToLeaveMessage',
    'valueBoolean': True}],
  'system': 'phone',
  'value': '(316) 617-5096',
  'use': 'home'}]

In [66]:
patient_phone_number_raw_value = patient_phone_number_raw[0][0]['value']
patient_phone_number_raw_value

'(316) 617-5096'

In [67]:
import re

In [74]:
match = re.match(r'\((\d{3})\) (\d{3})-(\d{4})( x\d+)?', patient_phone_number_raw_value)

In [75]:
match.groups()

('316', '617', '5096', None)

In [76]:
if match:
    area_code, first_part, second_part, extension = match.groups()
    if extension:
        patient_phone_number = f"{area_code}.{first_part}.{second_part}{extension}"
    else:
        patient_phone_number = f"{area_code}.{first_part}.{second_part}"

In [77]:
patient_phone_number

'316.617.5096'

## Address

In [79]:
patient_address_raw = patient_data['address']
patient_address_raw

0    [{'extension': [{'extension': [{'url': 'latitu...
Name: address, dtype: object

In [80]:
patient_address_raw[0][0]

{'extension': [{'extension': [{'url': 'latitude',
     'valueDecimal': 42.322218705608705},
    {'url': 'longitude', 'valueDecimal': -71.23987949611592}],
   'url': 'http://hl7.org/fhir/StructureDefinition/geolocation'}],
 'line': ['965 Leta Club', 'Suite 724'],
 'city': 'Newton',
 'state': 'MA',
 'postalCode': '02468'}

In [81]:
patient_address_raw_city_value = patient_address_raw[0][0]['city']
patient_address_raw_state_value = patient_address_raw[0][0]['state']

In [82]:
patient_address = f"{patient_address_raw_city_value}, {patient_address_raw_state_value}"
patient_address

'Newton, MA'

## Race

In [83]:
patient_race_raw = patient_data['extension']
patient_race_raw

0    [{'url': 'http://hl7.org/fhir/StructureDefinit...
Name: extension, dtype: object

In [84]:
patient_race_raw_data = patient_race_raw[0][0]['valueCodeableConcept']
patient_race_raw_data

{'coding': [{'system': 'http://hl7.org/fhir/v3/Race',
   'code': '2106-3',
   'display': 'White'}],
 'text': 'race'}

In [85]:
display(patient_race_raw_data['coding'])

[{'system': 'http://hl7.org/fhir/v3/Race',
  'code': '2106-3',
  'display': 'White'}]

In [86]:
if patient_race_raw_data['text'] == 'race':
    patient_race = patient_race_raw_data['coding'][0]['display']

In [87]:
patient_race

'White'

## Ethnicity

In [88]:
patient_ethnicity_raw = patient_data['extension']
patient_ethnicity_raw

0    [{'url': 'http://hl7.org/fhir/StructureDefinit...
Name: extension, dtype: object

In [89]:
patient_ethnicity_raw_data = patient_ethnicity_raw[0][1]['valueCodeableConcept']
patient_ethnicity_raw_data

{'coding': [{'system': 'http://hl7.org/fhir/v3/Ethnicity',
   'code': '2186-5',
   'display': 'Nonhispanic'}],
 'text': 'ethnicity'}

In [90]:
if patient_ethnicity_raw_data['text'] == 'ethnicity':
    patient_ethnicity = patient_ethnicity_raw_data['coding'][0]['display']

In [91]:
patient_ethnicity

'Nonhispanic'

## Marital Status

In [141]:
patient_marital_status_raw = patient_data.get('maritalStatus.coding',None)
patient_marital_status_raw

0    [{'system': 'http://hl7.org/fhir/v3/MaritalSta...
Name: maritalStatus.coding, dtype: object

In [142]:
if patient_marital_status_raw is not None:
    display(patient_marital_status_raw[0][0])

{'system': 'http://hl7.org/fhir/v3/MaritalStatus', 'code': 'M'}

In [131]:
if not patient_marital_status_raw.empty:
    display(patient_marital_status_raw[0][0])

AttributeError: 'NoneType' object has no attribute 'empty'

In [117]:
marital_status_mapping = {'M':'married','S':'single'}

In [143]:

if not patient_marital_status_raw.empty: 
    patient_marital_status = marital_status_mapping[patient_marital_status_raw[0][0]['code']]
else:
    patient_marital_status = 'unknown'

In [144]:
patient_marital_status

'married'

## Patient Data Extraction

In [22]:
import re
import datetime
import pandas as pd
import os
from tqdm import tqdm

In [23]:
def extract_patient_data(json_file_path):
    rawdata = pd.read_json(json_file_path)
    entries = rawdata['entry']
    for entry in entries:
        if entry['resource']['resourceType'] == 'Patient':
            patient_resource = entry['resource']
            patient_data = pd.json_normalize(patient_resource)

            # Patient Id
            patient_id = patient_data['id'][0]

            # Patient Name
            patient_name_raw = patient_data['name']
            patient_family_name_raw = patient_name_raw[0][0]
            patient_name_prefix  = patient_family_name_raw.get('prefix',[''])[0]
            patient_name = f"{patient_name_prefix} {patient_family_name_raw['given'][0]} {patient_family_name_raw['family']}"

            # Patient Gender
            patient_gender = patient_data['gender'][0]

            # Age
            patient_birth_date_raw = patient_data['birthDate']
            patient_birth_date_raw_value = patient_birth_date_raw.array[0]
            if patient_birth_date_raw_value:
                birth_year = datetime.datetime.strptime(
                    patient_birth_date_raw_value, '%Y-%m-%d').year
                patient_age = str(datetime.datetime.now().year - birth_year)
            patient_age = patient_age + ' years'

            # Phone Number
            patient_phone_number_raw = patient_data['telecom']
            patient_phone_number = patient_phone_number_raw[0][0]['value']

            # Address
            patient_address_raw = patient_data['address']
            patient_address_raw_city_value = patient_address_raw[0][0]['city']
            patient_address_raw_state_value = patient_address_raw[0][0]['state']
            patient_address = f"{patient_address_raw_city_value}, {patient_address_raw_state_value}"

            # Race
            patient_race_raw = patient_data['extension']
            patient_race_raw_data = patient_race_raw[0][0]['valueCodeableConcept']
            if patient_race_raw_data['text'] == 'race':
                patient_race = patient_race_raw_data['coding'][0]['display']

            # Ethnicity
            patient_ethnicity_raw = patient_data['extension']
            patient_ethnicity_raw_data = patient_ethnicity_raw[0][1]['valueCodeableConcept']
            if patient_ethnicity_raw_data['text'] == 'ethnicity':
                patient_ethnicity = patient_ethnicity_raw_data['coding'][0]['display']

            # Marital Status
            patient_marital_status_raw = patient_data.get('maritalStatus.coding',None)
            if patient_marital_status_raw is not None:
                marital_status_mapping = {'M': 'married', 'S': 'single'}
                patient_marital_status = marital_status_mapping[patient_marital_status_raw[0][0]['code']]
            else:
                patient_marital_status = 'unknown'

            return [patient_id, patient_name, patient_gender, patient_age, patient_phone_number, patient_address, patient_race, patient_ethnicity, patient_marital_status]

In [24]:
def patient_data_csv(root_directory_path, output_csv_path):
    columns = ['Patient ID','Name',	'Gender',	'Age',	'Phone Number',	'Address',	'Race',	'Ethnicity',	'Marital Status'
               ]
    with open(output_csv_path, 'w') as f:
        pd.DataFrame(columns=columns).to_csv(f, index=False)
    for subdir, _, files in os.walk(root_directory_path):
        for file in tqdm(files):
            file_path = os.path.join(subdir, file)
            patient_data = extract_patient_data(file_path)
            with open(output_csv_path, 'a') as f:
                pd.DataFrame([patient_data], columns=columns).to_csv(
                    f, header=False, index=False)

In [26]:
patient_data_csv('./health_data/healthcare-datasets/','./output_csv/patient_data.csv')

100%|██████████| 39/39 [00:00<00:00, 147.70it/s]

## Processing Patient Data

In [27]:
patient_data = pd.read_csv('./output_csv/patient_data.csv')
patient_data.head(10)

,Patient ID,Name,Gender,Age,Phone Number,Address,Race,Ethnicity,Marital Status
0,65d12976-9588-4cfa-a795-216302a2ece9,Ms. Conrad130 Stracke702,female,27 years,(316) 617-5096,"Newton, MA",White,Nonhispanic,unknown
1,a195633e-d36d-4abe-92bb-02994e9cb348,Mrs. Blanca183 Denesik412,female,49 years,1-734-978-8625,"Stoughton, MA",White,Nonhispanic,married
2,d0ed1873-9ac6-4c98-813e-86a041ce78c5,Mr. Felton828 Bosco90,male,93 years,707.709.1861,"Easton, MA",White,Nonhispanic,married
3,2db81051-c02a-4c72-b17d-feb8c49cded7,Madaline694 Gorczany145,male,9 years,(580) 812-0728 x20440,"Southborough, MA",White,Nonhispanic,unknown
4,d76cce33-3dec-4874-b352-fa81812517c7,Mrs. Trycia159 Koch741,female,76 years,496-882-5625 x30016,"Southbridge, MA",Black,Nonhispanic,married
5,aa3973d9-b64f-4a36-8cb6-f2719080b52f,Mr. Ashlynn633 Gleichner469,male,70 years,(779) 283-1133 x7121,"Dedham, MA",White,Nonhispanic,married
6,80bb41d3-ebb4-42e6-b087-6ee89b0463a9,Mrs. Zachary691 Willms133,female,65 years,493.648.2471 x26272,"Shrewsbury, MA",White,Nonhispanic,married
7,117335bb-33ff-4897-ac27-af4b3f11135f,Mr. Bart857 Schaden124,male,75 years,375-025-8548 x42903,"Worcester, MA",White,Nonhispanic,married
8,9bf6df85-12db-49d1-b754-b5adcdbb6115,Frederique754 Witting246,male,47 years,358.845.4625,"Sharon, MA",White,Nonhispanic,unknown
9,f72f7612-7acd-4dbd-b736-948a44bb1a36,Mrs. Lavon303 Medhurst137,female,98 years,(963) 376-1584 x17841,"Easthampton, MA",Asian,Nonhispanic,married

In [28]:
patient_data['Name'] = patient_data['Name'].apply(lambda name : re.sub(r'\d+','',name))

In [29]:
patient_data.head()

,Patient ID,Name,Gender,Age,Phone Number,Address,Race,Ethnicity,Marital Status
0,65d12976-9588-4cfa-a795-216302a2ece9,Ms. Conrad Stracke,female,27 years,(316) 617-5096,"Newton, MA",White,Nonhispanic,unknown
1,a195633e-d36d-4abe-92bb-02994e9cb348,Mrs. Blanca Denesik,female,49 years,1-734-978-8625,"Stoughton, MA",White,Nonhispanic,married
2,d0ed1873-9ac6-4c98-813e-86a041ce78c5,Mr. Felton Bosco,male,93 years,707.709.1861,"Easton, MA",White,Nonhispanic,married
3,2db81051-c02a-4c72-b17d-feb8c49cded7,Madaline Gorczany,male,9 years,(580) 812-0728 x20440,"Southborough, MA",White,Nonhispanic,unknown
4,d76cce33-3dec-4874-b352-fa81812517c7,Mrs. Trycia Koch,female,76 years,496-882-5625 x30016,"Southbridge, MA",Black,Nonhispanic,married

In [30]:
patient_data['Address'].unique()

array(['Newton, MA', 'Stoughton, MA', 'Easton, MA', 'Southborough, MA',
       'Southbridge, MA', 'Dedham, MA', 'Shrewsbury, MA', 'Worcester, MA',
       'Sharon, MA', 'Easthampton, MA', 'Lowell, MA', 'Templeton, MA',
       'Boston, MA', 'Lynn, MA', 'Springfield, MA', 'Westfield, MA',
       'Abington, MA', 'Peabody, MA', 'Brockton, MA', 'Haverhill, MA',
       'Malden, MA', 'Leicester, MA', 'Holliston, MA', 'Hudson, MA',
       'Brewster, MA', 'Stoneham, MA', 'Hubbardston, MA', 'Andover, MA',
       'Methuen, MA', 'Acton, MA', 'Northampton, MA'], dtype=object)

In [31]:
patient_data['Phone Number'].unique()

array(['(316) 617-5096', '1-734-978-8625', '707.709.1861',
       '(580) 812-0728 x20440', '496-882-5625 x30016',
       '(779) 283-1133 x7121', '493.648.2471 x26272',
       '375-025-8548 x42903', '358.845.4625', '(963) 376-1584 x17841',
       '682-907-8225 x71601', '456-050-1930 x9499', '(223) 369-1024',
       '1-109-767-6386 x585', '616-811-8945', '940.129.3889 x903',
       '(392) 129-8441', '533.091.9937', '506.111.6833',
       '(509) 809-9798 x03337', '(382) 333-7091 x51246',
       '195.230.2003 x9892', '(619) 737-6908', '742.429.3479',
       '(386) 001-8200 x5002', '1-309-534-9052', '1-569-036-1912 x83432',
       '(984) 384-1363 x31838', '653.189.9071 x849',
       '564.380.6900 x16552', '891.889.5056', '(485) 116-7599',
       '(575) 621-7064 x1127', '680-431-1926 x154', '(608) 524-4834',
       '(446) 912-8743 x8502', '936-012-7686 x01564', '237.167.0269 x694',
       '697-104-6654'], dtype=object)

In [32]:
patient_data[patient_data['Phone Number'].str.startswith('1-')]

,Patient ID,Name,Gender,Age,Phone Number,Address,Race,Ethnicity,Marital Status
1,a195633e-d36d-4abe-92bb-02994e9cb348,Mrs. Blanca Denesik,female,49 years,1-734-978-8625,"Stoughton, MA",White,Nonhispanic,married
13,8b47143f-2d3b-4425-a872-569af4ec0818,Mrs. Tremaine Dicki,female,44 years,1-109-767-6386 x585,"Boston, MA",White,Nonhispanic,married
25,3a268300-21fb-4ef0-b794-02aa0e5a7e5f,Mrs. Robbie Kling,female,95 years,1-309-534-9052,"Leicester, MA",White,Nonhispanic,married
26,509474a0-baf3-48f2-a595-67b6e2b34c87,Mr. Tess DuBuque,male,33 years,1-569-036-1912 x83432,"Boston, MA",Other,Puerto_rican,unknown

In [33]:
def format_phone_number(phone_number:str):
    if phone_number.startswith('1-'):
        if 'x' in phone_number:
            main_number,extension = phone_number.split('x')
            digits = re.sub(r'\D','',main_number)
            formatted_number = f'{digits[:1]}-{digits[1:4]}-{digits[4:7]}-{digits[7:]} x{extension}'
            return formatted_number
        
        digits = re.sub(r'\D','',phone_number)
        formatted_number = f'{digits[:1]}-{digits[1:4]}-{digits[4:7]}-{digits[7:]}'
        return formatted_number

    if 'x' in phone_number:
        main_number,extension = phone_number.split('x')
        digits = re.sub(r'\D','',main_number)
        formatted_number = f'{digits[:3]}-{digits[3:6]}-{digits[6:]} x{extension}'
        return formatted_number
    
    digits = re.sub(r'\D','',phone_number)
    formatted_number = f'{digits[:3]}-{digits[3:6]}-{digits[6:]}'
    return formatted_number

In [34]:
patient_data['Phone Number'] = patient_data['Phone Number'].apply(format_phone_number)

In [35]:
patient_data

,Patient ID,Name,Gender,Age,Phone Number,Address,Race,Ethnicity,Marital Status
0,65d12976-9588-4cfa-a795-216302a2ece9,Ms. Conrad Stracke,female,27 years,316-617-5096,"Newton, MA",White,Nonhispanic,unknown
1,a195633e-d36d-4abe-92bb-02994e9cb348,Mrs. Blanca Denesik,female,49 years,1-734-978-8625,"Stoughton, MA",White,Nonhispanic,married
2,d0ed1873-9ac6-4c98-813e-86a041ce78c5,Mr. Felton Bosco,male,93 years,707-709-1861,"Easton, MA",White,Nonhispanic,married
3,2db81051-c02a-4c72-b17d-feb8c49cded7,Madaline Gorczany,male,9 years,580-812-0728 x20440,"Southborough, MA",White,Nonhispanic,unknown
4,d76cce33-3dec-4874-b352-fa81812517c7,Mrs. Trycia Koch,female,76 years,496-882-5625 x30016,"Southbridge, MA",Black,Nonhispanic,married
5,aa3973d9-b64f-4a36-8cb6-f2719080b52f,Mr. Ashlynn Gleichner,male,70 years,779-283-1133 x7121,"Dedham, MA",White,Nonhispanic,married
6,80bb41d3-ebb4-42e6-b087-6ee89b0463a9,Mrs. Zachary Willms,female,65 years,493-648-2471 x26272,"Shrewsbury, MA",White,Nonhispanic,married
7,117335bb-33ff-4897-ac27-af4b3f11135f,Mr. Bart Schaden,male,75 years,375-025-8548 x42903,"Worcester, MA",White,Nonhispanic,married
8,9bf6df85-12db-49d1-b754-b5adcdbb6115,Frederique Witting,male,47 years,358-845-4625,"Sharon, MA",White,Nonhispanic,unknown
9,f72f7612-7acd-4dbd-b736-948a44bb1a36,Mrs. Lavon Medhurst,female,98 years,963-376-1584 x17841,"Easthampton, MA",Asian,Nonhispanic,married
10,3a5357d9-13f3-42de-8fdc-14a1a6cae148,Mr. Elouise Dooley,male,84 years,682-907-8225 x71601,"Lowell, MA",White,Nonhispanic,married
11,2f3f9a7e-8142-40c8-8c4a-b58bc815b48d,Quincy Treutel,female,16 years,456-050-1930 x9499,"Worcester, MA",White,Nonhispanic,unknown
12,ffb90781-eea4-4635-aeb5-790c0b67bb4a,Mrs. Emelia Ferry,female,116 years,223-369-1024,"Templeton, MA",White,Nonhispanic,married
13,8b47143f-2d3b-4425-a872-569af4ec0818,Mrs. Tremaine Dicki,female,44 years,1-109-767-6386 x585,"Boston, MA",White,Nonhispanic,married
14,83044f55-e41f-4489-a0b8-f69bd6c7b1d4,Mrs. Waylon Wunsch,female,37 years,616-811-8945,"Lynn, MA",Other,Puerto_rican,married
15,5265a2b0-1bbc-4993-9042-b8d86ba65f10,Mrs. Berneice Kshlerin,female,69 years,940-129-3889 x903,"Springfield, MA",White,Nonhispanic,married
16,99937389-654f-4a48-8e74-ac81cf260e0f,Mr. Lexi Swift,male,42 years,392-129-8441,"Westfield, MA",White,Nonhispanic,single
17,c92cad20-6dd1-4e22-b3d9-6f0507854a96,Mrs. Jada Gerhold,female,62 years,533-091-9937,"Abington, MA",White,Nonhispanic,married
18,bd0acd69-580e-4896-9974-2ad9d041ca0b,Mrs. Lavina Lemke,female,103 years,506-111-6833,"Worcester, MA",White,Nonhispanic,married
19,f10fd607-58ce-4be6-b1bd-a98898c8e0e5,Mrs. Victor Kuphal,female,89 years,509-809-9798 x03337,"Peabody, MA",White,Nonhispanic,married
20,32c72cdb-66bf-4301-895e-16da54ffd72d,Ms. Kennith Morar,female,34 years,382-333-7091 x51246,"Newton, MA",White,Nonhispanic,unknown
21,aeb76067-0f32-40a2-a29d-dfe7c4ab6638,Ms. Frederick Gulgowski,female,32 years,195-230-2003 x9892,"Brockton, MA",Black,Nonhispanic,unknown
22,cb13a48a-0dea-40c9-8eeb-8e275e101e5d,Mr. Viviane Kunde,male,53 years,619-737-6908,"Haverhill, MA",Other,Puerto_rican,married
23,c71d235f-9b58-4106-b744-c554da5e13fa,Mr. Sylvia Reilly,male,86 years,742-429-3479,"Malden, MA",White,Nonhispanic,married
24,a0dcd747-1d40-40fd-8e42-1f9395f034ca,Ms. Evan Klocko,female,80 years,386-001-8200 x5002,"Lynn, MA",White,Nonhispanic,single
25,3a268300-21fb-4ef0-b794-02aa0e5a7e5f,Mrs. Robbie Kling,female,95 years,1-309-534-9052,"Leicester, MA",White,Nonhispanic,married
26,509474a0-baf3-48f2-a595-67b6e2b34c87,Mr. Tess DuBuque,male,33 years,1-569-036-1912 x83432,"Boston, MA",Other,Puerto_rican,unknown
27,65dfe191-c7ef-4148-8f12-49f832525d4c,Destinee Welch,female,11 years,984-384-1363 x31838,"Holliston, MA",White,Nonhispanic,unknown
28,1694897b-912e-401f-a135-aa59857a401e,Julien Barrows,male,17 years,653-189-9071 x849,"Hudson, MA",White,Nonhispanic,unknown
29,21e19329-b572-414b-9cd1-ecf96af4f568,Mrs. Mekhi Flatley,female,77 years,564-380-6900 x16552,"Brewster, MA",White,Nonhispanic,married
30,ddd6fcc5-4a60-450d-a55c-927113ec312e,Mrs. Casimer Hyatt,female,36 years,891-889-5056,"Stoneham, MA",White,Nonhispanic,married
31,2c96b52c-5771-4563-a8a5-ef209924d5b2,Mrs. Jaydon Langworth,female,81 years,485-116-7599,"Brockton, MA",White,Nonhispanic,married
32,95ad0405-ec9e-4464-a708-750296dc1548,Mrs. Estell Hodkiewicz,female,41 years,575-621-7064 x1127,"Hubbardston, MA",White,Nonhispanic,married
33,7384d82c-2d1e-4595-99e4-f0ae962dddf1,Vincenza Crooks,male,18 years,680-431-1926 x154,"Lowell, MA",White,Nonhispanic,unknown
34,bb357dc7-2f8a-444e-ba57-8291b6f18bf0,Ms. Sunny Pouros,female,71 years,608-524-4834,"Andover, MA",White,Nonhispanic,single
35,1bd855fa-45c4-4c23-a608-fdeeb3bc2d8b,Mr. Mario Gulgowski,male,92 years,446-912-8743 x8502,"Lynn, MA",Other,Puerto_rican,married
36,00d869e2-6793-4ebf-9340-38bf18d223c4,Ms. Melisa Gerhold,female,31 years,936-012-7686 x01564,"Methuen, MA",White,Nonhispanic,unknown
37,a5399e95-981c-4a78-8019-873662fc7901,Mr. Jeanne Carter,male,46 years,237-167-0269 x694,"Acton, MA",White,Nonhispanic,single
38,1b9a49ca-2cd4-492b-b040-dbb82a3348ab,Mr. Noe Rempel,male,114 years,697-104-6654,"Northampton, MA",White,Nonhispanic,married

save cleaned data

In [36]:
patient_data.to_csv('./output_csv/patient_data_cleaned.csv')

# Encounter Data

In [37]:
import pandas as pd

In [46]:
json_path = './health_data/healthcare-datasets/000e7fac-5ea9-404d-8434-1229c16c29b0.json'

In [47]:
rawdata = pd.read_json(json_path)

In [50]:
entries = rawdata['entry']
entries

0     {'fullUrl': 'urn:uuid:65d12976-9588-4cfa-a795-...
1     {'fullUrl': 'urn:uuid:a3e3bd43-ef3c-48fd-9851-...
2     {'fullUrl': 'urn:uuid:dff431d5-79b9-40c0-91b6-...
3     {'fullUrl': 'urn:uuid:166ab0d5-66bc-40fc-922b-...
4     {'resource': {'status': 'active', 'stage': {'c...
                            ...
70    {'fullUrl': 'urn:uuid:41b416ca-94fb-42f3-9663-...
71    {'fullUrl': 'urn:uuid:225e0dab-69ee-4059-af24-...
72    {'fullUrl': 'urn:uuid:8b3bf982-4ddf-4872-a830-...
73    {'resource': {'status': 'completed', 'code': {...
74    {'resource': {'status': 'completed', 'date': '...
Name: entry, Length: 75, dtype: object

number of encounters and the index position in the entries array and get the `patient id`

In [52]:
encounter_length = 0
enconter_pos = []
for idx,entry in enumerate(entries):
     resource = entry['resource']
     if resource['resourceType'] == 'Patient':
          patient_id = resource['id']
     if resource['resourceType'] == 'Encounter':
          encounter_length += 1
          enconter_pos.append(idx)
display(patient_id)
display(encounter_length)
display(enconter_pos)

'65d12976-9588-4cfa-a795-216302a2ece9'

19

[1, 5, 8, 15, 17, 24, 30, 38, 44, 49, 53, 54, 55, 56, 62, 63, 64, 65, 68]

In [53]:
encounter_resource = entries[5]

In [54]:
encounter_data = encounter_resource['resource']

In [55]:
encounter_data

{'id': '7e969f44-f034-48c1-82c9-0fcf4b24e20c',
 'status': 'finished',
 'class': {'code': 'ambulatory'},
 'type': [{'coding': [{'system': 'http://snomed.info/sct',
     'code': '185345009'}],
   'text': 'Encounter for symptom'}],
 'patient': {'reference': 'urn:uuid:65d12976-9588-4cfa-a795-216302a2ece9'},
 'period': {'start': '2010-09-15T10:46:26-04:00',
  'end': '2010-09-15T10:46:26-04:00'},
 'reason': {'coding': [{'system': 'http://snomed.info/sct',
    'code': '195662009',
    'display': 'Acute viral pharyngitis (disorder)'}]},
 'resourceType': 'Encounter'}

In [56]:
encounter_id = encounter_data['id']
encounter_id

'7e969f44-f034-48c1-82c9-0fcf4b24e20c'

In [57]:
encounter_status = encounter_data['status']
encounter_status

'finished'

In [93]:
encounter_class = encounter_data['class']
encounter_class['code']

'ambulatory'

In [58]:
encounter_type_raw = encounter_data['type']
encounter_type_raw[0]

{'coding': [{'system': 'http://snomed.info/sct', 'code': '185345009'}],
 'text': 'Encounter for symptom'}

In [59]:
encounter_type = encounter_type_raw[0]['text']
encounter_type

'Encounter for symptom'

In [60]:
encounter_start_date = encounter_data['period']['start']
encounter_start_date

'2010-09-15T10:46:26-04:00'

In [61]:
encounter_end_date = encounter_data['period']['end']
encounter_end_date

'2010-09-15T10:46:26-04:00'

## Extract Encounter Data

In [94]:
def extract_single_encounter_data(encounter_data):
    encounter_id = encounter_data['id']
    encounter_status = encounter_data['status']
    encounter_class = encounter_data['class']['code']
    encounter_type = encounter_data['type'][0]['text']
    encounter_start_date = encounter_data['period']['start']
    encounter_end_date = encounter_data['period']['end']
    return [encounter_id,encounter_status,encounter_type,encounter_class,encounter_start_date,encounter_end_date]

In [95]:
def extract_encounters_data(json_file_path):
    res= []
    rawdata = pd.read_json(json_file_path)
    entries = rawdata['entry']
    encounter_pos = []
    for idx,entry in enumerate(entries):
        resource = entry['resource']
        if resource['resourceType'] == 'Patient':
            patient_id = resource['id']
        if resource['resourceType'] == 'Encounter':
            encounter_pos.append(idx)
    for pos in encounter_pos:
        encounter_data = entries[pos]['resource']
        single_encounter_data = extract_single_encounter_data(encounter_data)
        single_encounter_data.append(patient_id)
        res.append(single_encounter_data)
    return res

In [97]:
def encounters_data_csv(root_directory_path, output_csv_path):
    columns = ['Encounter ID','Status','Class',	'Type',	'Start Date','End Date','Patient ID']
    with open(output_csv_path,'w') as f:
        pd.DataFrame(columns=columns).to_csv(f,index=False)
    for subdir, _, files in os.walk(root_directory_path):
        for file in tqdm(files):
            file_path = os.path.join(subdir, file)
            encounter_data = extract_encounters_data(file_path)
            for encounter in encounter_data:
                with open(output_csv_path, 'a') as f:
                    pd.DataFrame([encounter], columns=columns).to_csv(
                        f, header=False, index=False)

In [98]:
encounters_data_csv('./health_data/healthcare-datasets/','./output_csv/encounter_data.csv')

100%|██████████| 39/39 [00:00<00:00, 101.98it/s]

## Encounter Data Processing

In [99]:
encounter_data = pd.read_csv('./output_csv/encounter_data.csv')

In [102]:
encounter_data.head(10)

,Encounter ID,Status,Class,Type,Start Date,End Date,Patient ID
0,a3e3bd43-ef3c-48fd-9851-5302d1aa84c6,finished,Encounter for symptom,ambulatory,2010-07-31T13:21:25-04:00,2010-07-31T13:21:25-04:00,65d12976-9588-4cfa-a795-216302a2ece9
1,7e969f44-f034-48c1-82c9-0fcf4b24e20c,finished,Encounter for symptom,ambulatory,2010-09-15T10:46:26-04:00,2010-09-15T10:46:26-04:00,65d12976-9588-4cfa-a795-216302a2ece9
2,a5e0fd67-d09f-4861-a58f-5726d81faafc,finished,Outpatient Encounter,outpatient,2010-11-14T10:21:49-05:00,2010-11-14T11:21:49-05:00,65d12976-9588-4cfa-a795-216302a2ece9
3,8c679a80-a381-4fa8-af8a-31cb44d65b7b,finished,Encounter for symptom,ambulatory,2011-10-31T02:59:03-04:00,2011-10-31T02:59:03-04:00,65d12976-9588-4cfa-a795-216302a2ece9
4,7b7130df-8af7-406e-b980-5d2f3a946867,finished,Outpatient Encounter,outpatient,2011-11-02T02:39:45-04:00,2011-11-02T03:39:45-04:00,65d12976-9588-4cfa-a795-216302a2ece9
5,30e580b6-1b8c-4dfe-b283-824035cd30a6,finished,Outpatient Encounter,outpatient,2012-11-05T13:01:56-05:00,2012-11-05T14:01:56-05:00,65d12976-9588-4cfa-a795-216302a2ece9
6,744566ba-5740-4e51-a218-283f74312061,finished,Outpatient Encounter,outpatient,2013-10-27T14:48:25-04:00,2013-10-27T15:48:25-04:00,65d12976-9588-4cfa-a795-216302a2ece9
7,1f0d1c73-ede0-4436-bbbb-71f4fc38eca6,finished,Outpatient Encounter,outpatient,2014-09-24T20:18:26-04:00,2014-09-24T21:18:26-04:00,65d12976-9588-4cfa-a795-216302a2ece9
8,ddc2fb3c-6ea7-4b66-931b-0a0b4bfd3a75,finished,Encounter for symptom,ambulatory,2015-01-07T16:12:31-05:00,2015-01-07T16:22:39-05:00,65d12976-9588-4cfa-a795-216302a2ece9
9,80fd8fc5-4770-4e35-b31c-4d7b1be19c2f,finished,Prenatal initial visit,ambulatory,2015-05-08T20:38:47-04:00,2015-05-08T20:38:47-04:00,65d12976-9588-4cfa-a795-216302a2ece9

In [103]:
encounter_data.describe()

,Encounter ID,Status,Class,Type,Start Date,End Date,Patient ID
count,317,317,317,317,317,317,317
unique,317,1,15,3,317,317,34
top,a3e3bd43-ef3c-48fd-9851-5302d1aa84c6,finished,Outpatient Encounter,outpatient,2010-07-31T13:21:25-04:00,2010-07-31T13:21:25-04:00,65d12976-9588-4cfa-a795-216302a2ece9
freq,1,317,161,164,1,1,19

In [104]:
encounter_data['Status'].unique()

array(['finished'], dtype=object)

In [106]:
encounter_data['Type'].unique()

array(['ambulatory', 'outpatient', 'emergency'], dtype=object)

In [108]:
encounter_data['Type'].value_counts()

Type
outpatient    164
ambulatory    135
emergency      18
Name: count, dtype: int64