In [1]:
import pandas as pd
import glob

In [2]:
file_paths = glob.glob(f"./health_data/healthcare-datasets/*.json")
dfs = [pd.read_json(file_path) for file_path in file_paths]
combined_df = pd.concat(dfs, ignore_index=True)
entries = pd.json_normalize(combined_df['entry'])

In [3]:
entries['resource.resourceType'].unique()

array(['Patient', 'Encounter', 'Condition', 'Observation',
       'MedicationRequest', 'Immunization', 'Procedure', 'CarePlan',
       'AllergyIntolerance', 'DiagnosticReport'], dtype=object)

In [5]:
observation_data = entries[entries['resource.resourceType'] == 'Observation']
observation_data.reset_index(drop=True,inplace=True)
observation_data.head()

,fullUrl,resource.id,resource.text.status,resource.text.div,resource.extension,resource.identifier,resource.name,resource.telecom,resource.gender,resource.birthDate,...,resource.deceasedDateTime,resource.valueCodeableConcept.coding,resource.dispenseRequest.numberOfRepeatsAllowed,resource.dispenseRequest.quantity.value,resource.dispenseRequest.quantity.unit,resource.dispenseRequest.expectedSupplyDuration.value,resource.dispenseRequest.expectedSupplyDuration.unit,resource.dispenseRequest.expectedSupplyDuration.system,resource.dispenseRequest.expectedSupplyDuration.code,resource.multipleBirthInteger
0,urn:uuid:166ab0d5-66bc-40fc-922b-2896cca3b0d9,166ab0d5-66bc-40fc-922b-2896cca3b0d9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,urn:uuid:77bda9d9-e213-471f-9dec-9b5b03ff38b8,77bda9d9-e213-471f-9dec-9b5b03ff38b8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,urn:uuid:322e6431-9a54-4e5f-9904-9ad4d5a3253b,322e6431-9a54-4e5f-9904-9ad4d5a3253b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,urn:uuid:7d2b3ee3-1190-45fc-a876-df6b171c5c0b,7d2b3ee3-1190-45fc-a876-df6b171c5c0b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,urn:uuid:3fd3dd3d-4382-4ae0-b1cc-7e5c9220da22,3fd3dd3d-4382-4ae0-b1cc-7e5c9220da22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
observation_id = observation_data.get('resource.id',None)
observation_id

0       166ab0d5-66bc-40fc-922b-2896cca3b0d9
1       77bda9d9-e213-471f-9dec-9b5b03ff38b8
2       322e6431-9a54-4e5f-9904-9ad4d5a3253b
3       7d2b3ee3-1190-45fc-a876-df6b171c5c0b
4       3fd3dd3d-4382-4ae0-b1cc-7e5c9220da22
                        ...
1305    35dc154b-f576-4f61-aedc-1ce50bbea065
1306    1e9a385e-e673-4dc0-9a35-24413d419e6a
1307    af37a792-b514-422b-b739-24034ff4a77a
1308    9bb8bf87-aaef-417f-81e6-9060ec081be6
1309    26214499-2d89-4f13-9b41-6aef9e376b5a
Name: resource.id, Length: 1310, dtype: object

In [8]:
observation_status = observation_data.get('resource.status',None)
observation_status

0       final
1       final
2       final
3       final
4       final
        ...
1305    final
1306    final
1307    final
1308    final
1309    final
Name: resource.status, Length: 1310, dtype: object

In [11]:
observation_type_raw = observation_data.get('resource.code.coding',None)
if not observation_type_raw is None:
    display(observation_type_raw)
    observation_type = pd.json_normalize(observation_type_raw.explode()).get('display',None)
    display(observation_type)
else:
    observation_type = None

0       [{'system': 'http://loinc.org', 'code': '8331-...
1       [{'system': 'http://loinc.org', 'code': '8331-...
2       [{'system': 'http://loinc.org', 'code': '8302-...
3       [{'system': 'http://loinc.org', 'code': '29463...
4       [{'system': 'http://loinc.org', 'code': '39156...
                              ...
1305    [{'system': 'http://loinc.org', 'code': '8302-...
1306    [{'system': 'http://loinc.org', 'code': '29463...
1307    [{'system': 'http://loinc.org', 'code': '39156...
1308    [{'system': 'http://loinc.org', 'code': '55284...
1309    [{'system': 'http://loinc.org', 'code': '33914...
Name: resource.code.coding, Length: 1310, dtype: object

0                           Oral temperature
1                           Oral temperature
2                                Body Height
3                                Body Weight
4                            Body Mass Index
                        ...
1305                             Body Height
1306                             Body Weight
1307                         Body Mass Index
1308                          Blood Pressure
1309    Estimated Glomerular Filtration Rate
Name: display, Length: 1310, dtype: object

In [13]:
observation_data.columns

Index(['fullUrl', 'resource.id', 'resource.text.status', 'resource.text.div',
       'resource.extension', 'resource.identifier', 'resource.name',
       'resource.telecom', 'resource.gender', 'resource.birthDate',
       'resource.address', 'resource.multipleBirthBoolean', 'resource.photo',
       'resource.resourceType', 'resource.status', 'resource.class.code',
       'resource.type', 'resource.patient.reference', 'resource.period.start',
       'resource.period.end', 'resource.reason.coding',
       'resource.clinicalStatus', 'resource.verificationStatus',
       'resource.code.coding', 'resource.subject.reference',
       'resource.context.reference', 'resource.onsetDateTime',
       'resource.abatementDateTime', 'resource.encounter.reference',
       'resource.effectiveDateTime', 'resource.valueQuantity.value',
       'resource.valueQuantity.unit', 'resource.valueQuantity.system',
       'resource.valueQuantity.code', 'resource.stage.coding',
       'resource.medicationCodeableConcept.coding', 'resource.dateWritten',
       'resource.reasonReference', 'resource.dosageInstruction',
       'resource.component', 'resource.date', 'resource.vaccineCode.coding',
       'resource.wasNotGiven', 'resource.primarySource', 'resource.code.text',
       'resource.performedDateTime', 'resource.performedPeriod.start',
       'resource.performedPeriod.end', 'resource.reasonReference.reference',
       'resource.category', 'resource.addresses', 'resource.activity',
       'resource.maritalStatus.coding', 'resource.criticality',
       'resource.assertedDate', 'resource.issued', 'resource.performer',
       'resource.result', 'resource.deceasedDateTime',
       'resource.valueCodeableConcept.coding',
       'resource.dispenseRequest.numberOfRepeatsAllowed',
       'resource.dispenseRequest.quantity.value',
       'resource.dispenseRequest.quantity.unit',
       'resource.dispenseRequest.expectedSupplyDuration.value',
       'resource.dispenseRequest.expectedSupplyDuration.unit',
       'resource.dispenseRequest.expectedSupplyDuration.system',
       'resource.dispenseRequest.expectedSupplyDuration.code',
       'resource.multipleBirthInteger'],
      dtype='object')

In [24]:
observation_value = observation_data.get('resource.valueQuantity.value',None).apply(lambda x: round(x,1))
display(len(observation_value))
observation_unit = observation_data.get('resource.valueQuantity.unit',None)
display(len(observation_unit))
if not observation_value is None:
    observation_value_unit = observation_value.astype('str').str.cat(observation_unit,sep=' ')
    display(observation_value_unit)
else:
    observation_value_unit = None

1310

1310

0                   37.3 Cel
1                   37.0 Cel
2                   132.2 cm
3                    36.1 kg
4                 20.6 kg/m2
                ...
1305                180.1 cm
1306                 85.6 kg
1307              26.4 kg/m2
1308                     NaN
1309    0.0 mL/min/{1.73_m2}
Name: resource.valueQuantity.value, Length: 1310, dtype: object

In [28]:
len(observation_value_unit[observation_value_unit.isna()])

163

In [29]:
observation_date_time = observation_data.get('resource.effectiveDateTime',None)
observation_date_time

0       2010-07-31T13:21:25-04:00
1       2010-09-15T10:46:26-04:00
2       2010-11-14T10:21:49-05:00
3       2010-11-14T10:21:49-05:00
4       2010-11-14T10:21:49-05:00
                  ...
1305    2016-10-26T05:38:21-04:00
1306    2016-10-26T05:38:21-04:00
1307    2016-10-26T05:38:21-04:00
1308    2016-10-26T05:38:21-04:00
1309    2016-10-26T05:38:21-04:00
Name: resource.effectiveDateTime, Length: 1310, dtype: object

In [31]:
observation_encounter_id = observation_data['resource.encounter.reference'].str.replace('urn:uuid:','')
observation_patient_id = observation_data['resource.subject.reference'].str.replace('urn:uuid:','')

In [83]:
result_df = pd.DataFrame({
    'Observation ID':observation_id,
    'Status':observation_status,
    'Patient ID':observation_patient_id,
    'Encounter ID':observation_encounter_id,
    'Observation Date Time':observation_date_time,
    'Observation Type':observation_type,
    'Observation Value':observation_value_unit
})
result_df.head()

,Observation ID,Status,Patient ID,Encounter ID,Observation Date Time,Observation Type,Observation Value
0,166ab0d5-66bc-40fc-922b-2896cca3b0d9,final,65d12976-9588-4cfa-a795-216302a2ece9,a3e3bd43-ef3c-48fd-9851-5302d1aa84c6,2010-07-31T13:21:25-04:00,Oral temperature,37.3 Cel
1,77bda9d9-e213-471f-9dec-9b5b03ff38b8,final,65d12976-9588-4cfa-a795-216302a2ece9,7e969f44-f034-48c1-82c9-0fcf4b24e20c,2010-09-15T10:46:26-04:00,Oral temperature,37.0 Cel
2,322e6431-9a54-4e5f-9904-9ad4d5a3253b,final,65d12976-9588-4cfa-a795-216302a2ece9,a5e0fd67-d09f-4861-a58f-5726d81faafc,2010-11-14T10:21:49-05:00,Body Height,132.2 cm
3,7d2b3ee3-1190-45fc-a876-df6b171c5c0b,final,65d12976-9588-4cfa-a795-216302a2ece9,a5e0fd67-d09f-4861-a58f-5726d81faafc,2010-11-14T10:21:49-05:00,Body Weight,36.1 kg
4,3fd3dd3d-4382-4ae0-b1cc-7e5c9220da22,final,65d12976-9588-4cfa-a795-216302a2ece9,a5e0fd67-d09f-4861-a58f-5726d81faafc,2010-11-14T10:21:49-05:00,Body Mass Index,20.6 kg/m2

In [84]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Observation ID         1310 non-null   object
 1   Status                 1310 non-null   object
 2   Patient ID             1310 non-null   object
 3   Encounter ID           1310 non-null   object
 4   Observation Date Time  1310 non-null   object
 5   Observation Type       1310 non-null   object
 6   Observation Value      1147 non-null   object
dtypes: object(7)
memory usage: 71.8+ KB

diagnostic data

In [65]:
diagnostic = pd.read_csv('./output_csv/diagnostic_data.csv')

In [88]:
diagnostic[20:30]

,Diagnostic Report ID,Status,Diagnostic Name,Patient ID,Encounter ID,Diagnostic Date Time,Performer,result_reference,result_display
20,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:ad0ecd5a-ca4c-41ef-a8a9-0d89218e1a10,Glucose
21,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:516fecff-8eea-411e-8fcd-0ce54d58902e,Urea Nitrogen
22,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:b2b275d5-5156-420c-a4a5-ade863beb47c,Creatinine
23,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:5b67e72a-6e74-4396-a98b-423ec1066e72,Calcium
24,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:6b190b59-defc-437b-ac58-83df01d52049,Sodium
25,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:10b8d1d7-aedb-4511-8636-34b4b16add1a,Potassium
26,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:7fc0d3fa-58cc-4cfc-803c-25d0f857ff93,Chloride
27,18cb1577-3300-47b2-8d57-38f9cd8b950b,final,Basic Metabolic Panel,d0ed1873-9ac6-4c98-813e-86a041ce78c5,1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd,2012-10-02T21:50:16-04:00,Hospital Lab,urn:uuid:910c806a-5969-46a6-a770-45ef85b20021,Carbon Dioxide
28,d79b10af-0929-46a2-a880-494d4affbba8,final,Lipid Panel,d76cce33-3dec-4874-b352-fa81812517c7,98bfac77-82aa-4ffa-a63c-06f13e722550,2013-09-11T10:15:45-04:00,Hospital Lab,urn:uuid:d510ea01-7a5c-403a-8bb0-a5bccb975a93,Total Cholesterol
29,d79b10af-0929-46a2-a880-494d4affbba8,final,Lipid Panel,d76cce33-3dec-4874-b352-fa81812517c7,98bfac77-82aa-4ffa-a63c-06f13e722550,2013-09-11T10:15:45-04:00,Hospital Lab,urn:uuid:c4443e99-c58f-444e-b541-0f2353ed9b7b,Triglycerides

In [66]:
diagnostic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diagnostic Report ID  524 non-null    object
 1   Status                524 non-null    object
 2   Diagnostic Name       524 non-null    object
 3   Patient ID            524 non-null    object
 4   Encounter ID          524 non-null    object
 5   Diagnostic Date Time  524 non-null    object
 6   Performer             524 non-null    object
 7   result_reference      524 non-null    object
 8   result_display        524 non-null    object
dtypes: object(9)
memory usage: 37.0+ KB

In [95]:
diagnostic_to_merge = diagnostic[['Encounter ID','Diagnostic Report ID']]

In [96]:
diagnostic_to_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Encounter ID          524 non-null    object
 1   Diagnostic Report ID  524 non-null    object
dtypes: object(2)
memory usage: 8.3+ KB

In [97]:
diagnostic_to_merge.head(10)

                           Encounter ID                  Diagnostic Report ID
0  e23fb9ad-56f4-4e34-8073-6c89277f03f8  a07a9a48-de2f-4b5a-896e-c44d56eeb3c0
1  e23fb9ad-56f4-4e34-8073-6c89277f03f8  a07a9a48-de2f-4b5a-896e-c44d56eeb3c0
2  e23fb9ad-56f4-4e34-8073-6c89277f03f8  a07a9a48-de2f-4b5a-896e-c44d56eeb3c0
3  e23fb9ad-56f4-4e34-8073-6c89277f03f8  a07a9a48-de2f-4b5a-896e-c44d56eeb3c0
4  0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b
5  0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b
6  0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b
7  0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b
8  0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b
9  0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b

In [98]:
diagnostic_to_merge_drop = diagnostic_to_merge.drop_duplicates(subset=['Diagnostic Report ID'])

In [99]:
diagnostic_to_merge_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89 entries, 0 to 520
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Encounter ID          89 non-null     object
 1   Diagnostic Report ID  89 non-null     object
dtypes: object(2)
memory usage: 2.1+ KB

In [100]:
diagnostic_to_merge_drop.head(10)

                            Encounter ID                  Diagnostic Report ID
0   e23fb9ad-56f4-4e34-8073-6c89277f03f8  a07a9a48-de2f-4b5a-896e-c44d56eeb3c0
4   0e41d495-029e-4338-8173-25e62f81a199  f74a3d92-b549-4a12-9e10-6a6d2204b59b
12  b2a27b96-82b2-4755-b5be-ec6aff5b8028  99940d72-22d0-4829-9e9e-3d89fa1510e0
20  1f6fc603-26d8-4dd2-b8c5-3fb1bbdb12dd  18cb1577-3300-47b2-8d57-38f9cd8b950b
28  98bfac77-82aa-4ffa-a63c-06f13e722550  d79b10af-0929-46a2-a880-494d4affbba8
32  61bc1b33-2041-4d0e-850e-96701198a43d  c8bfc1b4-79fa-4a8e-9e0c-1d515e7bd7e0
36  fee0f09f-2c53-46e9-a50f-fe69d3238996  a4a4c2b0-f387-49fb-b7a0-e709a71fe1db
44  fee0f09f-2c53-46e9-a50f-fe69d3238996  9b475182-b259-41ac-be38-4a1023d9151c
48  d8294703-8020-4f30-b8b5-01b76624d85c  bbaf34b0-2859-4076-84d3-4fa787db0422
56  d8294703-8020-4f30-b8b5-01b76624d85c  c8093736-8ff1-46e3-9418-1c08955ff63e

explore join for this

In [101]:
test = pd.merge(result_df,diagnostic_to_merge_drop,how='left',left_on='Encounter ID',right_on='Encounter ID')

In [102]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Observation ID         1693 non-null   object
 1   Status                 1693 non-null   object
 2   Patient ID             1693 non-null   object
 3   Encounter ID           1693 non-null   object
 4   Observation Date Time  1693 non-null   object
 5   Observation Type       1693 non-null   object
 6   Observation Value      1510 non-null   object
 7   Diagnostic Report ID   1290 non-null   object
dtypes: object(8)
memory usage: 105.9+ KB

In [76]:
test.describe()

,Observation ID,Status,Patient ID,Encounter ID,Observation Date Time,Observation Type,Observation Value,Diagnostic Report ID
count,1693,1693,1693,1693,1693,1693,1510,1290
unique,1310,1,34,189,189,31,459,89
top,7b321269-d21a-4181-bfb6-a03287c7d798,final,aa3973d9-b64f-4a36-8cb6-f2719080b52f,9c6ee96e-445f-42b9-a711-d8acb2788bc3,2013-11-15T14:33:03-05:00,Body Weight,1.0 mg/dL,7e510599-af63-4cba-bf6b-3799c65c7854
freq,2,1693,361,40,40,179,65,20

In [107]:
test[test['Diagnostic Report ID'].isna()]

,Observation ID,Status,Patient ID,Encounter ID,Observation Date Time,Observation Type,Observation Value,Diagnostic Report ID
0,166ab0d5-66bc-40fc-922b-2896cca3b0d9,final,65d12976-9588-4cfa-a795-216302a2ece9,a3e3bd43-ef3c-48fd-9851-5302d1aa84c6,2010-07-31T13:21:25-04:00,Oral temperature,37.3 Cel,NaN
1,77bda9d9-e213-471f-9dec-9b5b03ff38b8,final,65d12976-9588-4cfa-a795-216302a2ece9,7e969f44-f034-48c1-82c9-0fcf4b24e20c,2010-09-15T10:46:26-04:00,Oral temperature,37.0 Cel,NaN
2,322e6431-9a54-4e5f-9904-9ad4d5a3253b,final,65d12976-9588-4cfa-a795-216302a2ece9,a5e0fd67-d09f-4861-a58f-5726d81faafc,2010-11-14T10:21:49-05:00,Body Height,132.2 cm,NaN
3,7d2b3ee3-1190-45fc-a876-df6b171c5c0b,final,65d12976-9588-4cfa-a795-216302a2ece9,a5e0fd67-d09f-4861-a58f-5726d81faafc,2010-11-14T10:21:49-05:00,Body Weight,36.1 kg,NaN
4,3fd3dd3d-4382-4ae0-b1cc-7e5c9220da22,final,65d12976-9588-4cfa-a795-216302a2ece9,a5e0fd67-d09f-4861-a58f-5726d81faafc,2010-11-14T10:21:49-05:00,Body Mass Index,20.6 kg/m2,NaN
...,...,...,...,...,...,...,...,...
1688,35dc154b-f576-4f61-aedc-1ce50bbea065,final,a5399e95-981c-4a78-8019-873662fc7901,9e802e2c-77ad-401f-97e9-bb91f646b9d7,2016-10-26T05:38:21-04:00,Body Height,180.1 cm,NaN
1689,1e9a385e-e673-4dc0-9a35-24413d419e6a,final,a5399e95-981c-4a78-8019-873662fc7901,9e802e2c-77ad-401f-97e9-bb91f646b9d7,2016-10-26T05:38:21-04:00,Body Weight,85.6 kg,NaN
1690,af37a792-b514-422b-b739-24034ff4a77a,final,a5399e95-981c-4a78-8019-873662fc7901,9e802e2c-77ad-401f-97e9-bb91f646b9d7,2016-10-26T05:38:21-04:00,Body Mass Index,26.4 kg/m2,NaN
1691,9bb8bf87-aaef-417f-81e6-9060ec081be6,final,a5399e95-981c-4a78-8019-873662fc7901,9e802e2c-77ad-401f-97e9-bb91f646b9d7,2016-10-26T05:38:21-04:00,Blood Pressure,NaN,NaN
1692,26214499-2d89-4f13-9b41-6aef9e376b5a,final,a5399e95-981c-4a78-8019-873662fc7901,9e802e2c-77ad-401f-97e9-bb91f646b9d7,2016-10-26T05:38:21-04:00,Estimated Glomerular Filtration Rate,0.0 mL/min/{1.73_m2},NaN